source https://nuget.org/api/v2
cache ./nupkgs versions: current
nuget FSharp.Core

nuget Fable.Core
nuget Fable.Import.Browser

nuget Giraffe

nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Cors
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.Extensions.DependencyInjection

nuget Octokit

github CompositionalIT/fshelpers src/FsHelpers/FSharpCore/String.fs

clitool dotnet-fable
clitool Microsoft.DotNet.Watcher.Tools

gist coolya/52588c4605e7f83b8376fdaf3e43ce3f Fable.Compat.Helper.fs

group Build
    source https://nuget.org/api/v2

    nuget FAKE